.container {
  width: 70%;
  background: white;
  position:left;
  text-align:left;
  margin:10px auto;
  margin-bottom:60px;
  
}
text{
position:absolute;
}

h1{
	
	font-size:40px;
	line-height:20px;
	
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
